<section class="banner">
  <h2 class="ff-title">Seu ingresso está aqui!</h2>
</section>
<div class="background">
  <h2 class="ingresso-title">Agora sim! Seu ingresso está aqui, apresente na entrada do evento e aproveite!</h2>
  <div class="ingresso-container">
    <div class="ingresso-top">
      <img src="../../../../assets/imagens/logo-code.png" height="50px" width="150px" alt="">
    </div>
    <div class="ingresso">
      <img src="../../../../assets/imagens/qrcode.png" width="300px" height="300px" alt="">
      <div class="infos-ingresso">
        <h1>{{ingressoService.nome}}</h1>
        <p>Tipo do ingresso: {{ingressoService.type}}</p>
        <p>Setor: {{ingressoService.sector}}</p>
        <p>Data: {{ingressoService.date}}</p>
        <p>Local: São Paulo - SP</p>
      </div>
    </div>
  </div>
</div>
