<main>
  <section class="banner">
    <h2 class="ff-title">Bem vindo ao #CodeChella2024</h2>
  </section>
  <div class="background">
    <section class="info">
      <div class="img-info">
        <img src="../../../../assets/imagens/info-img.jpg" width="608px" height="380px" alt="">
      </div>
      <div class="text-info ff-normal">
        <h2>&lt; 11 e 12 de Fevereiro &gt; <br>Autódromo de São Paulo </h2>
        <p>Hora de programar nossa memória com novas lembranças! Uma nova experiência sobre musica, linguagens e, claro, tecnologia! Somos um festival diverso, com vários artistas e referências. Divirta-se!</p>
        <button class="btn-action" (click)="navegarParaIngressos()"><span>Comprar ingresso!</span></button>
      </div>
    </section>
    <h2 class="line-up-title ff-title">/Line-Up/</h2>
    <section class="line-up-sabado ff-normal">
      <h2 class="ff-normal">
        sábado &lt;11/03&gt;
      </h2>
      <div class="lineup-one">
        <h3>System of a DOM</h3>
      </div>
      <div class="lineup-two">
        <h4>Python Maiden</h4>
        <h4>Apollo Client 2001</h4>
        <h4>Bon Java</h4>
        <h4>NickCallback</h4>
      </div>
      <div class="lineup-three">
        <h5>Linkin Promises</h5>
        <h5>FullStack Fighters</h5>
        <h5>Papa React</h5>
        <h5>Angular in Chains</h5>
      </div>
      <div class="lineup-four">
        <h6>Agnostic Front-end</h6>
        <h6>SlipkNode</h6>
        <h6>Pink Flutter</h6>
        <h6>Kiss</h6>
      </div>
    </section>
    <hr>
    <section class="line-up-domingo ff-normal">
      <h2>
        domingo &lt;11/03&gt;
      </h2>
      <div class="lineup-one">
        <h3>Lana Del Ploy</h3>
      </div>
      <div class="lineup-two">
        <h4>Dua Lib</h4>
        <h4>The Backnd</h4>
        <h4>CSS Styles</h4>
        <h4>ArrayAna Grande</h4>
      </div>
      <div class="lineup-three">
        <h5>Miley Cypress</h5>
        <h5>The Bootstrap Boys</h5>
        <h5>JSON Derulo</h5>
        <h5>CloudPlay</h5>
      </div>
      <div class="lineup-four">
        <h6>Kylie MiLOG</h6>
        <h6>Jenkins Brothers</h6>
        <h6>DJ Query</h6>
      </div>
    </section>
    <img src="../../../../assets/imagens/end-home.jpg" class="img-end-home" alt="">
  </div>
</main>
