<section class="banner">
  <h2 class="ff-title">Mapa de Setores</h2>
</section>
<div class="background">
  <section class="mapa-legenda">
    <div class="map">
      <img src="../../../../assets/imagens/sector-map.png" alt="" />
    </div>
    <div class="legenda ff-normal">
      <ul>
        <h4>Legenda:</h4>
        <li>
          <span></span>
          Pista Premium
        </li>
        <li>
          <span></span>
          Pista Comun
        </li>
        <li>
          <span></span>
          Cadeiras Térreo
        </li>
        <li>
          <span></span>
          Cadeiras Superiores
        </li>
        <li>
          <span></span>
          Rampas
        </li>
      </ul>
    </div>
  </section>
  <h2 class="details-title">Mais detalhes sobre os setores:</h2>
  <section class="details ff-normal">
    <div class="pista">
      <img src="../../../../assets/imagens/sector-detail-1.jpg" alt="" aria-hidden="treu"/>
      <div class="pista-text">
        <h2>Pista</h2>
        <p>
          Pista convencional, atendida pelos bares e banheiros das laterais do
          estádio. Espaço amplo, com local para sentar e descansar. Separada da
          pista premium por uma grade.
        </p>
      </div>
    </div>
    <div class="pista-premium">
      <img src="../../../../assets/imagens/sector-detail-2.jpg" alt="" aria-hidden="treu"/>
      <div class="pista-premium-text">
        <h2>Pista Premium</h2>
        <p>
          Pista mais próxima do palco, com acesso muito próximo a banheiros e
          bares num raio de 100m. Todas as pessoas idosas e/ou com deficiência
          têm direito a acesso gratuito a essa área.
        </p>
      </div>
    </div>
    <div class="cadeiras">
      <img src="../../../../assets/imagens/sector-detail-3.jpg" alt="" aria-hidden="treu"/>
      <div class="cadeiras-text">
        <h2>Cadeiras</h2>
        <p>
          Opção de cadeiras térreas ou elevadas. Acesso próximo a banheiros e
          bares, visão um pouco elevada em relação às pistas.
        </p>
      </div>
    </div>
  </section>
</div>
